# build output
**/build/
cmake-build-*/

# IDE
**/.idea/
**/.vscode/

# macOS
**/.DS_Store
# binaries
*.o
*.out
*.exe

# report outputs
report/

# output data
**/output/

# CSV feature files (generated)
**/*.csv